.home-page{

    .header-page{
        padding-bottom: 100px;
    }

    .About-Us-layout{
        padding-bottom: 100px;
    }

    .department-layout
    {
        background-color: #f4f4f4;
        padding-top: 50px;
    }

    .doctor-layout
    {
        padding-bottom: 30px;
    }

    .insurance-layout
    {
        padding-bottom: 70px;
        padding-top: 70px;
    }

    .footer
    {
        .footer--cols
        {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }
}