
.img-postion
{
    position: relative;
}

.icons-anim
{
   width: 100%;
   position: absolute; 
   bottom: 0;
   color: black;
   opacity: 0;
   transition: all 500ms;
}

.icons-anim i
{
    background-color: white;
    padding: 1em;
    border-radius: 50%;
}

.icons-anim i:hover
{
    background-color: #80B500;
    color: white;
    cursor: pointer;
}
.card:hover .icons-anim
{
    transform: translateY(-150%);
    opacity: 1;
}
/* card Desgin */
.stars span:last-child{
    color: #80b500;
}
.price span{
    color: #80b500;
    font-size: 18px;
}
.price span:last-child{
    text-decoration: line-through;
    color: #b3d366;
}
.card{
    border-radius: 0px;
}
.card:hover{
    box-shadow: 0px 0px 20px #ddd;
}
.card-img-top{
    position: relative;
    border-radius: 0px !important;
}
.card-img .sale{
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-weight: bold;
    background-color: #80b500;
    width: 80px;
    border-radius: 23px 0px 23px 0px;
    margin: 10px;
    padding: 5px 15px;
}

