*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

span
{
    color: white;
}

button
{
    border-radius: 8px;
    border: 1px solid white;
    padding: 0.7em 1.2em;
    min-width: 60px;

}

span
{
    display: inline-block;
    font-size: 1.5em;

}




.Game-now
{
    width: 90%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    margin: 0 auto;
}


.start-game button
{
    padding: 1em 5em;
    font-size: 1.3em;
    font-weight: bold;
}

.start-game button:hover
{
    background-color: transparent;
    color: white;
}

#list
{
    overflow-y: scroll;
    height: 60vh;
    width: 90%;
    margin: 0 auto;
}

#secore
{
    margin-top: 10px;
}

@media (max-width:750px) {

    canvas
{


    height: 200px;
}


button
{
    border-radius: 8px;
    border: 1px solid white;
    padding: 0.4em 0.7em;
    min-width: 39px;
}


.start-game button
{
    padding: 0.7em 4em;
    font-size: 1.3em;
    font-weight: bold;
}
}


@media (max-height:500px) {

    .Game-now
    {
        background-color: transparent;
        width: 100%;
        height: 100%;
    }

    .Game-now .word
    {
        margin-top: 100px;
    }

    
    button
    {
        border-radius: 8px;
        font-size: 10px;
        border: 1px solid white;
        padding: 0.4em 0.7em;
        min-width: 39px;
    }

    canvas
{
    width: 60%;
    height: 50%;
}


}


@media (max-width:550px) {

    button
    {
        border-radius: 8px;
        font-size: 10px;
        border: 1px solid white;
        padding: 0.4em 0.7em;
        min-width: 20px;
    }

    #hint
    {
        font-size: 0.9em;
        width: 80%;
        margin: 0 auto;
    }

    canvas
    {
        width: 100%;
        height: 50%;
    }
}


@media (max-height:300px) {

    .Game-now
    {
        background-color: transparent;
        width: 100%;
        height: 100%;
    }

    body
    {
        height: auto;
    }
}





