.card
{
    
    &--doctor{
        width: 243.733px;
        border: 1px solid $lighter-color;
        overflow: hidden;
        &__img
        {
            img{
                width: 100%;
            }
        }

        &:hover
        {
            @include hovercard();
        }
    }
}