.card-department{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    &--icon{
        width: 30%;
    }

    &--content-text{
        h2{
            color: $secondary-color;
            margin-bottom: 10px;
        }

        span{
            color: $lighter-color;
        }
    }
}